#navbar{
    flex-direction:column;
}
#navbar ul li a{
    font-size:1rem;
    padding:0px 7px;
    padding-bottom:8px;
}
#home{
    height:370px;
    padding:3px 28px;
}
#home::before{
    height:480px;
}
#home p{
    font-size:13px;
}
#services{
    flex-direction:column;
}
#services .box{
    padding:14px;
    margin:2px 0px;
    margin-bottom:20px;
}
#aboutus{
    flex-direction:column;
    height:200%;
}
#aboutus-container{
    height:100%;
}
#aboutus .box{
    padding:14px;
    margin:2px 0px;
    margin-bottom:20px;
}
#contact{
    top:50px;
}
.btn{
    font-size:13px;
    padding:4px 8px;
}
footer{
    top:25px;
}
@media (max-width:280px) {
    #contact{
        top:30px;
    }
}

